<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_catalogsearch_result_index">
        <observer name="yu_aicatalogsearch_redirect_search_result" instance="Yu\AiCatalogSearch\Observer\RedirectSearchResult"/>
    </event>
</config>
